.btn {
  border: 0;
  border-radius: .125rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: inherit;
  cursor: pointer;
  font-size: .81rem;
  margin: .375rem;
   padding:0;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  white-space: normal;
  word-wrap: break-word;
}
